.active-tab {
    border-bottom: 3px solid #2563eb;
    color: #2563eb;
    font-weight: 700;
}

.loader {
    border-top-color: transparent;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    width: 1.25rem;
    /* 20px */
    height: 1.25rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}