<app-header></app-header>

<div class=" bg-white">

    <!-- Title & Info -->
    <div class="shadow p-4 bg-primary-gradient">
        <h1 class="text-xl font-bold text-center mb-3 text-gray-700">Vehicle Status Verification Tool</h1>

        <!-- Upload Section stepper-->
        <div *ngIf="activeTab === 'upload'" class="w-full flex flex-col items-center mb-16">
            <h1>Follow these steps to check the final result using Upload tab</h1>
            <div class="flex items-center justify-center relative">

                <!-- Step 1 -->
                <div class="relative flex flex-col items-center">
                    <div class="w-8 h-8 rounded-full flex items-center justify-center font-bold text-white text-lg"
                        [ngClass]="excelFile ? 'bg-gradient-to-r from-green-500 to-green-300' : 'bg-gradient-to-r from-primaryGradientStart to-primaryGradientEnd'">
                        1
                    </div>
                    <div
                        class="absolute top-full mt-4 left-1/2 -translate-x-1/2 text-xs font-semibold text-primaryGradientEnd whitespace-nowrap">
                        Upload Excel File
                    </div>
                </div>

                <svg class="h-10 w-28 flex-shrink-0" viewBox="0 0 112 56">
                    <line x1="0" y1="28" x2="100" y2="28" stroke="#337ab7" stroke-width="3" />
                    <polygon points="100,20 112,28 100,36" fill="#337ab7" />
                </svg>

                <!-- Step 2 -->
                <div class="relative flex flex-col items-center">
                    <div class="w-8 h-8 rounded-full flex items-center justify-center font-bold text-white text-lg"
                        [ngClass]="carfaxResponse_upload ? 'bg-gradient-to-r from-green-500 to-green-300' : 'bg-gradient-to-r from-primaryGradientStart to-primaryGradientEnd'">
                        2
                    </div>
                    <div
                        class="absolute top-full mt-4 left-1/2 -translate-x-1/2 text-xs font-semibold text-primaryGradientEnd whitespace-nowrap">
                        Upload Carfax PDF
                    </div>
                </div>

                <svg class="h-10 w-28 flex-shrink-0" viewBox="0 0 112 56">
                    <line x1="0" y1="28" x2="100" y2="28" stroke="#337ab7" stroke-width="3" />
                    <polygon points="100,20 112,28 100,36" fill="#337ab7" />
                </svg>

                <!-- Step 3 -->
                <div class="relative flex flex-col items-center">
                    <div class="w-8 h-8 rounded-full flex items-center justify-center font-bold text-white text-lg"
                        [ngClass]="manheimResponse_upload ? 'bg-gradient-to-r from-green-500 to-green-300' : 'bg-gradient-to-r from-primaryGradientStart to-primaryGradientEnd'">
                        3
                    </div>
                    <div
                        class="absolute top-full mt-4 left-1/2 -translate-x-1/2 text-xs font-semibold text-primaryGradientEnd whitespace-nowrap">
                        Upload Manheim PDF
                    </div>
                </div>

                <svg class="h-10 w-28 flex-shrink-0" viewBox="0 0 112 56">
                    <line x1="0" y1="28" x2="100" y2="28" stroke="#337ab7" stroke-width="3" />
                    <polygon points="100,20 112,28 100,36" fill="#337ab7" />
                </svg>

                <!-- Step 4 -->
                <div class="relative flex flex-col items-center">
                    <div class="w-8 h-8 rounded-full flex items-center justify-center font-bold text-white text-lg"
                        [ngClass]="manualVin_upload ? 'bg-gradient-to-r from-green-500 to-green-300' : 'bg-gradient-to-r from-primaryGradientStart to-primaryGradientEnd'">
                        4
                    </div>
                    <div
                        class="absolute top-full mt-4 left-1/2 -translate-x-1/2 text-xs font-semibold text-primaryGradientEnd whitespace-nowrap">
                        Enter VIN
                    </div>
                </div>

                <svg class="h-10 w-28 flex-shrink-0" viewBox="0 0 112 56">
                    <line x1="0" y1="28" x2="100" y2="28" stroke="#337ab7" stroke-width="3" />
                    <polygon points="100,20 112,28 100,36" fill="#337ab7" />
                </svg>

                <!-- Step 5 -->
                <div class="relative flex flex-col items-center">
                    <div class="w-8 h-8 rounded-full flex items-center justify-center font-bold text-white text-lg"
                        [ngClass]="allStepsCompletedForPdf && showModal == false ? 'bg-gradient-to-r from-green-500 to-green-300 animate-pulse transition-all duration-500' : 'bg-gradient-to-r from-primaryGradientStart to-primaryGradientEnd'">
                        5
                    </div>
                    <div
                        class="absolute top-full mt-4 left-1/2 -translate-x-1/2 text-xs font-semibold text-primaryGradientEnd whitespace-nowrap">
                        Click Final Result
                    </div>
                </div>



            </div>
        </div>

        <!-- VIN Section stepper-->
        <div *ngIf="activeTab === 'vin'" class="w-full flex flex-col items-center mb-16">
            <h1>Follow these steps to check the final result using VIN tab</h1>
            <div class="flex items-center justify-center relative">

                <!-- Step 1 -->
                <div class="relative flex flex-col items-center">
                    <div class="w-8 h-8 rounded-full flex items-center justify-center font-bold text-white text-lg"
                        [ngClass]="excelFile ? 'bg-gradient-to-r from-green-500 to-green-300' : 'bg-gradient-to-r from-primaryGradientStart to-primaryGradientEnd'">
                        1
                    </div>
                    <div
                        class="absolute top-full mt-4 left-1/2 -translate-x-1/2 text-xs font-semibold text-primaryGradientEnd whitespace-nowrap">
                        Upload Excel File
                    </div>
                </div>
                <svg class="h-10 w-28 flex-shrink-0" viewBox="0 0 112 56">
                    <line x1="0" y1="28" x2="100" y2="28" stroke="#337ab7" stroke-width="3" />
                    <polygon points="100,20 112,28 100,36" fill="#337ab7" />
                </svg>

                <!-- Step 2 -->
                <div class="relative flex flex-col items-center">
                    <div class="w-8 h-8 rounded-full flex items-center justify-center font-bold text-white text-lg"
                        [ngClass]="carfaxResponse_vin ? 'bg-gradient-to-r from-green-400 to-green-600' : 'bg-gradient-to-r from-primaryGradientStart to-primaryGradientEnd'">
                        2
                    </div>
                    <div
                        class="absolute top-full mt-4 left-1/2 -translate-x-1/2 text-xs font-semibold text-primaryGradientEnd whitespace-nowrap">
                        Enter Carfax VIN
                    </div>
                </div>

                <svg class="h-10 w-28 flex-shrink-0" viewBox="0 0 112 56">
                    <line x1="0" y1="28" x2="100" y2="28" stroke="#337ab7" stroke-width="3" />
                    <polygon points="100,20 112,28 100,36" fill="#337ab7" />
                </svg>

                <!-- Step 3 -->
                <div class="relative flex flex-col items-center">
                    <div class="w-8 h-8 rounded-full flex items-center justify-center font-bold text-white text-lg"
                        [ngClass]="manheimResponse_vin ? 'bg-gradient-to-r from-green-400 to-green-600' : 'bg-gradient-to-r from-primaryGradientStart to-primaryGradientEnd'">
                        3
                    </div>
                    <div
                        class="absolute top-full mt-4 left-1/2 -translate-x-1/2 text-xs font-semibold text-primaryGradientEnd whitespace-nowrap">
                        Enter Manheim VIN
                    </div>
                </div>

                <svg class="h-10 w-28 flex-shrink-0" viewBox="0 0 112 56">
                    <line x1="0" y1="28" x2="100" y2="28" stroke="#337ab7" stroke-width="3" />
                    <polygon points="100,20 112,28 100,36" fill="#337ab7" />
                </svg>

                <!-- Step 4 -->
                <div class="relative flex flex-col items-center">
                    <div class="w-8 h-8 rounded-full flex items-center justify-center font-bold text-white text-lg"
                        [ngClass]="allStepsCompletedForVin && showModal == false ? 'bg-gradient-to-r from-green-500 to-green-300 animate-pulse transition-all duration-500' : 'bg-gradient-to-r from-primaryGradientStart to-primaryGradientEnd'">
                        4
                    </div>
                    <div
                        class="absolute top-full mt-4 left-1/2 -translate-x-1/2 text-xs font-semibold text-primaryGradientEnd whitespace-nowrap">
                        Click Final Result
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class=" mx-auto p-4">
        <!-- Excel File Upload -->
        <div class="flex flex-col md:flex-row items-center gap-4 justify-center mb-6 mt-6">
            <label for="excelUpload" class="font-semibold text-gray-700 shrink-0">
                Excel File <span class="text-red-600">*</span>
            </label>
            <input id="excelUpload" type="file" accept=".xlsx,.xls" class="border border-gray-300 rounded p-2 w-72"
                (change)="onExcelSelected($event)" />
            <span class="text-green-600" *ngIf="excelFile">{{ excelFile.name }}</span>
        </div>

        <!-- Tabs -->
        <div class="flex justify-center gap-4 border-b border-gray-300 mb-6">
            <button class="px-6 py-1 font-semibold text-base flex items-center gap-2" [ngClass]="{
          'text-primaryGradientEnd border-b-4 border-primaryGradientEnd': activeTab === 'upload',
          'text-gray-500 hover:text-primaryGradientEnd': activeTab !== 'upload'
        }" (click)="switchTab('upload')">
                <i class="fas fa-file-upload"></i>Check by Upload PDF
            </button>
            <button class="px-6 py-2 font-semibold text-base flex items-center gap-2" [ngClass]="{
          'text-primaryGradientEnd border-b-4 border-primaryGradientEnd': activeTab === 'vin',
          'text-gray-500 hover:text-primaryGradientEnd': activeTab !== 'vin'
        }" (click)="switchTab('vin')">
                <i class="fas fa-id-card"></i>Check by VIN
            </button>
        </div>

        <!-- Cards -->
        <div class="flex flex-col md:flex-row gap-4">
            <!-- Carfax Card -->
            <div class="flex-1 p-6 bg-white rounded-lg shadow border border-gray-200">
                <div class="flex items-center space-x-2 mb-4">
                    <span
                        class="bg-gradient-to-r from-primaryGradientStart to-primaryGradientEnd px-2 py-1 rounded-full text-white">
                        <i class="fas fa-car"></i>
                    </span>
                    <h2 class="text-lg font-bold text-primaryGradientStart">Carfax</h2>
                </div>

                <!-- Upload Tab content -->
                <ng-container *ngIf="activeTab === 'upload'">
                    <label class="block font-semibold mb-1">Carfax PDF Upload <span
                            class="text-red-600">*</span></label>
                    <input type="file" #carfaxPdfInput accept="application/pdf"
                        class="border border-gray-300 rounded p-2 w-full" (change)="onCarfaxPdfSelected($event)" />
                    <p class="text-green-600 mt-1" *ngIf="carfaxPdfFile_upload">{{ carfaxPdfFile_upload.name }}</p>
                    <!-- <div class="flex items-center gap-2 mt-2" *ngIf="loadingCarfax_upload">
                        <div class="loader"></div>
                        <span class="text-primaryGradientEnd text-sm font-medium">Processing Carfax...</span>
                    </div> -->
                    <div *ngIf="carfaxResponse_upload" class="mt-4 overflow-auto max-h-48">
                        <table class="min-w-full table-fixed border-collapse border border-gray-300">
                            <thead>
                                <tr class="bg-gray-100">
                                    <th *ngFor="let key of objectKeys(carfaxResponse_upload)"
                                        class="border p-1  text-gray-600">{{ key }}</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td *ngFor="let key of objectKeys(carfaxResponse_upload)"
                                        class="border p-1  text-gray-800 break-words">{{
                                        formatValue(carfaxResponse_upload[key]) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-container>

                <!-- VIN tab content -->
                <ng-container *ngIf="activeTab === 'vin'">
                    <label class="block font-semibold mb-1">Carfax VIN <span class="text-red-600">*</span></label>
                    <div class="relative w-full flex items-center">
                        <input type="text" class="border border-gray-300 rounded p-2 w-full pr-20"
                            [(ngModel)]="carfaxVin_vin" autocomplete="off" (keydown.enter)="submitVin('carfax')"
                            placeholder="Enter Carfax VIN" />
                        <button type="button"
                            class="absolute right-1 top-1/2 transform -translate-y-1/2 flex items-center gap-2 px-3 py-1 bg-primaryGradientEnd text-white font-semibold rounded disabled:opacity-50"
                            [disabled]="!carfaxVin_vin.trim()" (click)="submitVin('carfax')">
                            <i class="fas fa-paper-plane"></i>
                            Submit
                        </button>
                    </div>

                    <!-- <div class="flex items-center gap-2 mt-2" *ngIf="loadingCarfax_vin">
                        <div class="loader"></div>
                        <span class="text-primaryGradientEnd text-sm font-medium">Processing Carfax...</span>
                    </div> -->
                    <div *ngIf="carfaxResponse_vin" class="mt-4 overflow-auto max-h-48">
                        <table class="min-w-full table-fixed border-collapse border border-gray-300">
                            <thead>
                                <tr class="bg-gray-100">
                                    <th *ngFor="let key of objectKeys(carfaxResponse_vin)"
                                        class="border p-1  text-gray-600">{{ key }}</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td *ngFor="let key of objectKeys(carfaxResponse_vin)"
                                        class="border p-1  text-gray-800 break-words">{{
                                        formatValue(carfaxResponse_vin[key]) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-container>
            </div>

            <!-- Manheim Card -->
            <div class="flex-1 p-6 bg-white rounded-lg shadow border border-gray-200">
                <div class="flex items-center space-x-2 mb-4">
                    <span
                        class="bg-gradient-to-r from-primaryGradientStart to-primaryGradientEnd px-2 py-1 rounded-full text-white">
                        <i class="fas fa-warehouse"></i>
                    </span>
                    <h2 class="text-lg font-bold text-primaryGradientStart">Manheim</h2>
                </div>

                <!-- Upload Tab content -->
                <ng-container *ngIf="activeTab === 'upload'">
                    <label class="block font-semibold mb-1">Manheim PDF Upload <span
                            class="text-red-600">*</span></label>
                    <input type="file" #manheimPdfInput accept="application/pdf"
                        class="border border-gray-300 rounded p-2 w-full" (change)="onManheimPdfSelected($event)" />
                    <p class="text-green-600 mt-1" *ngIf="manheimPdfFile_upload">{{ manheimPdfFile_upload.name }}</p>
                    <!-- <div class="flex items-center gap-2 mt-2" *ngIf="loadingManheim_upload">
                        <div class="loader"></div>
                        <span class="text-primaryGradientEnd text-sm font-medium">Processing Manheim...</span>
                    </div> -->
                    <div *ngIf="manheimResponse_upload" class="mt-4 overflow-auto max-h-48">
                        <table class="min-w-full table-fixed border-collapse border border-gray-300">
                            <thead>
                                <tr class="bg-gray-100">
                                    <th *ngFor="let key of objectKeys(manheimResponse_upload)"
                                        class="border p-1  text-gray-600">{{ key }}</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td *ngFor="let key of objectKeys(manheimResponse_upload)"
                                        class="border p-1  text-gray-800 break-words">{{
                                        formatValue(manheimResponse_upload[key]) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-container>

                <!-- VIN tab content -->
                <ng-container *ngIf="activeTab === 'vin'">
                    <label class="block font-semibold mb-1">Manheim VIN <span class="text-red-600">*</span></label>
                    <div class="relative w-full flex items-center">
                        <input type="text" class="border border-gray-300 rounded p-2 w-full pr-20"
                            [(ngModel)]="manheimVin_vin" autocomplete="off" (keydown.enter)="submitVin('manheim')"
                            placeholder="Enter Manheim VIN" />
                        <button type="button"
                            class="absolute right-1 top-1/2 transform -translate-y-1/2 flex items-center gap-2 px-3 py-1 bg-primaryGradientEnd text-white font-semibold rounded disabled:opacity-50"
                            [disabled]="!manheimVin_vin.trim()" (click)="submitVin('manheim')">
                            <i class="fas fa-paper-plane"></i>
                            Submit
                        </button>
                    </div>

                    <!-- <div class="flex items-center gap-2 mt-2" *ngIf="loadingManheim_vin">
                        <div class="loader"></div>
                        <span class="text-primaryGradientEnd text-sm font-medium">Processing Manheim...</span>
                    </div> -->
                    <div *ngIf="manheimResponse_vin" class="mt-4 overflow-auto max-h-48">
                        <table class="min-w-full table-fixed border-collapse border border-gray-300">
                            <thead>
                                <tr class="bg-gray-100">
                                    <th *ngFor="let key of objectKeys(manheimResponse_vin)"
                                        class="border p-1  text-gray-600">{{ key }}</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td *ngFor="let key of objectKeys(manheimResponse_vin)"
                                        class="border p-1  text-gray-800 break-words">{{
                                        formatValue(manheimResponse_vin[key]) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-container>
            </div>
        </div>

        <!-- VIN box below Upload tab only if needed -->
        <div *ngIf="activeTab === 'upload' && carfaxPdfFile_upload && manheimPdfFile_upload && !getVinFromResponse(carfaxResponse_upload) && !getVinFromResponse(manheimResponse_upload)"
            class="flex flex-col md:flex-row items-center gap-4 my-4 justify-center">
            <label class="font-semibold text-gray-700">
                Enter VIN (missing in PDFs) <span class="text-red-600">*</span>
            </label>
            <input type="text" class="border border-gray-300 rounded p-2 w-80 text-center"
                [(ngModel)]="manualVin_upload" autocomplete="off" />
        </div>

        <!-- Final Result Button -->
        <div class="flex justify-center mt-8 gap-2">
            <!-- Unified Reset Button -->
            <button
                class="px-3 py-2 rounded font-semibold shadow text-white bg-gradient-to-r from-primaryGradientStart to-primaryGradientEnd hover:from-gray-500 hover:to-gray-700 disabled:opacity-60"
                (click)="onCommonReset()"
                [disabled]="loadingCarfax_upload || loadingManheim_upload || loadingCarfax_vin || loadingManheim_vin">
                <i class="fa-solid fa-rotate-left mr-2"></i>
                Reset
            </button>
            <button
                class="px-3 py-2 rounded font-semibold shadow text-white bg-gradient-to-r from-green-500 to-green-600 hover:from-green-600 hover:to-green-700 disabled:opacity-60"
                [disabled]="!canShowButton() || loadingCarfax_upload || loadingManheim_upload || loadingCarfax_vin || loadingManheim_vin"
                (click)="onShow()">
                <i class="fa-solid fa-circle-check mr-2"></i>
                Final Result
            </button>

        </div>

        <!-- Modal -->
        <div *ngIf="showModal" class="fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center z-50">
            <div class="bg-white rounded-lg p-8 max-w-2xl w-full relative">
                <button class="absolute top-2 right-2 text-2xl hover:text-gray-700" (click)="closeModal()">
                    &times;
                </button>
                <h3 class="text-center text-2xl font-bold mb-6">Final Result</h3>
                <div *ngIf="vinMismatch" class="text-red-600 font-semibold text-center mb-3">
                    ❌ Both VINs are different. Cannot compare.
                </div>
                <div *ngIf="vinUnavailable && !vinMismatch" class="text-red-600 font-semibold text-center mb-3">
                    ❌ VIN unavailable. Please enter VIN.
                </div>
                <div *ngIf="vinNotInExcel && !vinUnavailable && !vinMismatch"
                    class="text-red-600 font-semibold text-center mb-3">
                    ❌ VIN not found in Excel data.
                </div>
                <div class="flex justify-center mb-5">
                    <span *ngIf="isStatusMatched()"
                        class="bg-green-100 text-green-600 rounded-full py-1 px-4 font-semibold flex items-center gap-2">
                        <i class="fas fa-check"></i>
                        Status matched
                    </span>
                    <span *ngIf="!isStatusMatched()"
                        class="bg-red-100 text-red-600 rounded-full py-1 px-4 font-semibold flex items-center gap-2">
                        <i class="fas fa-times"></i>
                        Status unmatched
                    </span>
                </div>
                <table class="w-full border-collapse border border-gray-300 mb-5">
                    <thead class="bg-gray-100">
                        <tr>
                            <th class="border border-gray-300 py-2 px-4">Carfax Status</th>
                            <th class="border border-gray-300 py-2 px-4">Manheim Status</th>
                            <th class="border border-gray-300 py-2 px-4">Final Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td class="border border-gray-300 py-2 px-4">{{ modalCarfax }}</td>
                            <td class="border border-gray-300 py-2 px-4">{{ modalManheim }}</td>
                            <td class="border border-gray-300 py-2 px-4 font-bold text-blue-700">{{ modalResult }}</td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-center font-semibold text-pink-600" *ngIf="junkClassifier">
                    Junk Classifier: <span class="font-bold">{{ junkClassifier }}</span>
                </p>
            </div>
        </div>
    </div>
</div>



<!-- Full Screen Loader -->
<div *ngIf="loadingCarfax_upload || loadingManheim_upload || loadingCarfax_vin || loadingManheim_vin"
    class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-80">
    <div class="flex flex-col items-center space-y-4">
        <div class="w-12 h-12 border-4 border-t-transparent border-white rounded-full animate-spin"></div>
        <p class="text-white font-semibold text-lg">Processing, please wait...</p>
    </div>
</div>