<div class="bg-white rounded-lg shadow-md w-full h-full flex flex-col p-2">
    <h2
        class="text-blue-900 text-2xl font-semibold mb-5 bg-gradient-to-r from-primaryGradientStart to-primaryGradientEnd bg-clip-text text-transparent">
        Carfax
    </h2>

    <!-- PDF Upload -->
    <label for="pdf-upload" class="mb-2 font-semibold text-blue-700 block">Upload PDF</label>
    <input type="file" #pdfInput id="pdf-upload" accept="application/pdf" (change)="onPdfSelected($event)"
        [disabled]="vin.trim().length > 0"
        class="mb-4 block w-full border border-blue-300 rounded-md p-2 cursor-pointer disabled:bg-gray-100" />

    <!-- VIN Input -->
    <label for="vin-carfax" class="mb-2 font-semibold text-blue-700">Enter VIN</label>
    <input id="vin-carfax" [(ngModel)]="vin" (keydown.enter)="submitVIN()" placeholder="Enter VIN..."
        [disabled]="pdfFile !== null"
        class="border border-blue-300 rounded-md p-2 mb-4 focus:outline-none focus:ring-2 focus:ring-primaryGradientEnd disabled:bg-gray-100" />

    <!-- Validation Message -->
    <div *ngIf="validationMessage" class="text-red-600 font-semibold mb-4">
        {{ validationMessage }}
    </div>

    <!-- Submit Button -->
    <div class="flex justify-center mb-4">
        <button (click)="submitVIN()" [disabled]="loading || pdfFile !== null"
            class="bg-gradient-to-r from-primaryGradientStart to-primaryGradientEnd text-white py-2 px-6 rounded-md font-semibold hover:from-primaryGradientEnd hover:to-primaryGradientStart disabled:bg-blue-200 disabled:cursor-not-allowed">
            Submit
        </button>
    </div>


    <div *ngIf="loading" class="text-blue-600 font-semibold mb-2 flex items-center text-lg select-none">
        Processing
        <span class="ml-2 flex space-x-1">
            <span class="animate-blinkDot">.</span>
            <span class="animate-blinkDot" style="animation-delay: 0.2s;">.</span>
            <span class="animate-blinkDot" style="animation-delay: 0.4s;">.</span>
        </span>
    </div>

    <div *ngIf="error" class="text-red-600 font-semibold mb-4">{{ error }}</div>

    <table *ngIf="response" class="table-auto w-full text-left border-collapse border border-gray-300">
        <thead>
            <tr class="bg-gray-100">
                <th *ngFor="let key of objectKeys(response)" class="border border-gray-300 px-2 py-1">
                    {{ key }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td *ngFor="let key of objectKeys(response)" class="border border-gray-300 px-2 py-1">
                    {{ formatValue(response[key]) }}
                </td>
            </tr>
        </tbody>
    </table>
</div>